<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272276696369-0f9qigdceagmjfdbd3voonq8sj9ifb0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272276696369-0f9qigdceagmjfdbd3voonq8sj9ifb0k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272276696369-941p3b95qa5o341n6oc1hdg1e9denpta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDh2I94Q0ComIvwYSucLtDENZzmQLX4Oqc</string>
	<key>GCM_SENDER_ID</key>
	<string>272276696369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DateMate</string>
	<key>PROJECT_ID</key>
	<string>date-mate-5aeaf</string>
	<key>STORAGE_BUCKET</key>
	<string>date-mate-5aeaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272276696369:ios:4bc845149191ffde889410</string>
</dict>
</plist>